<div class="sidebar-menu">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Lịch hẹn</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Thủ thuật</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Bệnh nhân</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Bảng theo dõi chấm công</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Nhân viên</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Labo</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Mẫu</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <p>Vật liệu</p>
      </a>
    </li>
  </ul>
</div>

