html {
	height: 100%
}

body {
	font-family: source sans pro, sans-serif;
	font-size: 15px;
	color: #171717;
	height: 100%;
	background-color: #F5F5F5;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 1
}

.block {
	display: block !important
}

.display-block {
	display: block
}

.m-r-5 {
	margin-right: 5px !important
}

.m-r-10 {
	margin-right: 10px !important
}

.m-l-5 {
	margin-left: 5px !important
}

.m-t-0 {
	margin-top: 0 !important
}

.m-t-10 {
	margin-top: 10px !important
}

.m-t-20 {
	margin-top: 20px !important
}

.m-t-30 {
	margin-top: 30px !important
}

.m-t-50 {
	margin-top: 50px !important
}

.m-b-10 {
	margin-bottom: 10px !important
}

.m-b-20 {
	margin-bottom: 20px !important
}

.m-b-30 {
	margin-bottom: 30px !important
}

.w-40 {
	width: 40px
}

.font-18 {
	font-size: 18px
}

.border-right {
	border-right: 1px solid #e7e7e7
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0
}

h1,
.h1 {
	font-size: 2.25rem
}

h2,
.h2 {
	font-size: 1.875rem
}

h3,
.h3 {
	font-size: 1.5rem
}

h4,
.h4 {
	font-size: 1.125rem
}

h5,
.h5 {
	font-size: .875rem
}

h6,
.h6 {
	font-size: .75rem
}

li {
	list-style: none
}

a {
	color: #234ce3;
	font-weight: 600;
	text-decoration: none
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: #7815c6;
	outline: none
}

.text-ellipsis {
	display: block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text-muted-light {
	color: #aaa
}

.page-title {
	color: #35446f;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 30px
}

.page-sub-title {
	color: #565656;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px
}

.form-control {
	box-shadow: none;
	padding: .469rem .75rem;
	font-size: 14px;
	min-height: 40px;
	background: linear-gradient(51.64deg, rgba(255, 255, 255, 0) 34.2%, rgba(255, 255, 255, 0.2) 97.35%, rgba(255, 255, 255, 0) 160.66%), rgba(255, 255, 255, 0.2);
	border: 2px solid #7B4C50;
	border-radius: 8px
}

.form-focus {
	display: flex;
	height: 50px;
	position: relative
}

.form-focus .focus-label {
	font-size: 16px;
	font-weight: 400;
	opacity: .4;
	pointer-events: none;
	position: absolute;
	-webkit-transform: translate3d(0, 22px, 0) scale(1);
	-ms-transform: translate3d(0, 22px, 0) scale(1);
	-o-transform: translate3d(0, 22px, 0) scale(1);
	transform: translate3d(0, 22px, 0) scale(1);
	transform-origin: left top;
	transition: 240ms;
	left: 12px;
	top: -8px;
	z-index: 1;
	color: #888
}

.form-focus.focused .focus-label {
	opacity: 1;
	font-weight: 300;
	top: -14px;
	font-size: 12px;
	z-index: 1
}

.form-focus .form-control {
	height: 50px;
	padding: 21px 12px 6px
}

.form-focus .form-control::-webkit-input-placeholder {
	color: transparent;
	transition: 240ms
}

.form-focus .form-control:focus::-webkit-input-placeholder {
	transition: none
}

.form-focus.focused .form-control::-webkit-input-placeholder {
	color: #bbb
}

.form-control:focus {
	border-color: #000;
	box-shadow: none;
	outline: 0
}

.form-control.form-control-sm {
	padding: .25rem .9rem
}

.form-group {
	margin-bottom: 20px
}

.form-focus.select-focus .focus-label {
	opacity: 1;
	font-weight: 300;
	top: -20px;
	font-size: 12px;
	z-index: 1
}

input,
button {
	outline: none
}

input,
button,
a {
	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-webkit-transition: all .4s ease
}

.btn.rounded {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

.btn.focus,
.btn:focus {
	box-shadow: inherit !important
}

.btn {
	font-size: .875rem;
	margin-bottom: 10px
}
.btn-primary {
	border-color: transparent;
	background-color: #234ce3;
	border: 1px solid transparent
}

.btn-custom {
	background-color: #FEDDCC;
	border: 2px solid #7B4C50;
}

.btn-white {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
	background-color: #fe3f51;
	border: 1px solid #fe3f51;
	color: #fff
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
	background-color: #234ce3;
	border: 1px solid #234ce3
}

.btn-primary.active:not(:disabled):not(.disabled),
.btn-primary:active:not(:disabled):not(.disabled),
.show>.btn-primary.dropdown-toggle {
	background-color: #1837a9;
	border-color: #1837a9;
	color: #fff
}

.btn-outline-primary {
	border-color: #234ce3;
	color: #234ce3
}

.btn-outline-primary:hover {
	background-color: #234ce3;
	border-color: #234ce3;
	color: #fff
}

.btn-outline-primary.active:not(:disabled):not(.disabled),
.btn-outline-primary:active:not(:disabled):not(.disabled),
.show>.btn-outline-primary.dropdown-toggle {
	background-color: #234ce3;
	border-color: #234ce3;
	color: #fff
}

.btn-success {
	background-color: #234ce3;
	border: 1px solid #234ce3
}

.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
	background: #fe3f51;
	border: 1px solid #fe3f51
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
	background: #aa1ca5 !important;
	border: 1px solid #aa1ca5 !important
}

.btn-info {
	background-color: #234ce3;
	border: 1px solid #234ce3
}

.btn-info:hover,
.btn-info:focus,
.btn-info.active,
.btn-info:active,
.open>.dropdown-toggle.btn-info {
	background-color: #028ee1;
	border: 1px solid #028ee1
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info.focus:active,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.dropdown-toggle.btn-info.focus,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover {
	background-color: #028ee1;
	border: 1px solid #028ee1
}

.btn-warning {
	background: #ffbc34;
	border: 1px solid #ffbc34
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.active,
.btn-warning:active,
.open>.dropdown-toggle.btn-warning {
	background: #e9ab2e;
	border: 1px solid #e9ab2e
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning.focus:active,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning.focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
	background: #e9ab2e;
	border: 1px solid #e9ab2e
}

.btn-danger {
	background: #f62d51;
	border: 1px solid #f62d51
}

.btn-danger:hover,
.btn-danger:focus {
	background-color: #e6294b;
	border: 1px solid #e6294b
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
	box-shadow: none
}

.btn-link {
	color: #333
}

.rounded,
.circle {
	border-radius: 500px
}

.bg-primary,
.badge-primary {
	background-color: #234ce3 !important
}

.bg-success,
.badge-success {
	background-color: #2750e4 !important
}

.bg-info,
.badge-info {
	background-color: #00d3c7 !important
}

.bg-warning,
.badge-warning {
	background-color: #ffbc34 !important
}

.bg-danger,
.badge-danger {
	background-color: #f62d51 !important
}

.bg-white {
	background-color: #fff
}

.list-group-item {
	border: 1px solid #eaeaea;
	background: rgba(255, 255, 255, .4)
}

.table {
	color: #000;
	border-top: 0
}

.table.table-white {
	background-color: #fff
}

.table>tbody>tr>td {
	font-weight: 300
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #f6f6f6
}

table.table td .avatar {
	margin: 0 5px 0 0
}

table.table td h2 {
	display: inline-block;
	font-size: inherit;
	font-weight: 400;
	margin: 0;
	padding: 0;
	vertical-align: middle
}

table.table td h2 a {
	color: #757575
}

table.table td h2 a:hover {
	color: #234ce3
}

table.table td h2 span {
	color: #9e9e9e;
	display: block;
	font-size: 12px;
	margin-top: 3px
}

.table h5 {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 0;
	vertical-align: middle
}

.table h5+p {
	color: #9e9e9e;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #234ce3;
	border-color: #234ce3
}

.pagination>li>a,
.pagination>li>span {
	color: #234ce3;
	padding: .5rem .75rem !important
}

.page-item.active .page-link {
	background-color: #35446f;
	border-color: #35446f
}

.page-link:focus {
	box-shadow: unset
}


.dropdown-menu {
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	transform-origin: left top 0;
	box-shadow: inherit;
	background-color: #fff;
  font-size: 13px;
}




.btn-group-xs>.btn,
.btn-xs {
	min-height: 22px;
	min-width: 22px
}


/*

Layout
*/

.page-wrapper>.content {
	padding: 30px;
	width: 100%
}

.buy-form {
	padding: 15px;
	margin-bottom: 30px;
	background: #fff;

	box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, .35);
	border-radius: 5px;
	width: 100%
}


@media only screen and (max-width:575.98px) {
  .page-wrapper>.content {
		padding: 15px
	}

  .content {
		padding: 0 50px
	}

  .filter-row {
		margin-bottom: 15px
	}
}
