    <div class="header-left">
      <img class="image" src="assets/logo.png">
    </div>
    <div class="header-right">
      <div class="header-right-left">
        <div class="header-content">
          <div class="text-wrapper">02</div>
          <div class="text-title">Lịch hẹn</div>
        </div>
        <div class="header-content">
          <div class="text-wrapper">02</div>
          <div class="text-title">Hàng chờ</div>
        </div>
        <div class="header-content">
          <div class="text-wrapper">23</div>
          <div class="text-title">Bệnh nhân</div>
        </div>
        <div class="header-content">
          <div class="text-wrapper">30</div>
          <div class="text-title">Nhân viên</div>
        </div>
      </div>
      <div class="header-right-right">
        <ul class="nav user-menu user-menu-group float-center">
          <li class="facility">
            <button class="btn-facility dropdown-toggle" data-bs-toggle="dropdown">Cơ sở</button>
          </li>
          <li class="nav-item dropdown d-none d-sm-block">
            <a class="btn-message nav-link bg-box"><i class="fa fa-commenting" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item dropdown d-none d-sm-block">
            <a class="btn-notification nav-link bg-box"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item dropdown d-none d-sm-block">
            <a class="btn-options nav-link bg-box"><i class="fa-solid fa-bars"></i></a>
          </li>
          <li class="nav-item dropdown has-arrow user-profile-list">
            <a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
            <span class="user-img"><img class="rounded-circle" src="assets/person.png" width="40" alt="Admin">
            </span>
              <div class="user-names">
                <h5>Nguyễn Thuỳ Linh</h5>
                <span>Admin</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

